blueprint_integration_round_scenario_with_parameter_for_decimal.json
{
    "name": "Integration Round Scenario",
    "flow": [
        {
            "id": 5,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 140004,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 8,
                    "y": -24
                },
                "restore": {
                    "hook": {
                        "label": "My gateway-webhook webhook"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Number",
                        "type": "number"
                    },
                    {
                        "name": "DecimalPlaces",
                        "type": "number"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 413,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "NumberAlreadyRounded",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{length(substring(5.Number; indexOf(5.Number; \".\") + 1; length(5.Number)))}}",
                                            "b": "{{5.DecimalPlaces}}",
                                            "o": "number:lessorequal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{contains(toString(5.Number); \".\")}}",
                                            "b": "{{true}}",
                                            "o": "boolean:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "body": "{{5.Number}}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 741,
                                    "y": -435,
                                    "name": "Webhooks - NumberAlreadyRounded"
                                },
                                "restore": {
                                    "headers": {
                                        "items": []
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "GreaterThanDecimalPlaces",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{length(substring(5.Number; indexOf(5.Number; \".\") + 1; length(5.Number)))}}",
                                            "b": "{{5.DecimalPlaces}}",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "DecimalPlacesStartNumber",
                                "scope": "roundtrip",
                                "value": "{{length(substring(5.Number; indexOf(5.Number; \".\") + 1; length(5.Number)))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 704,
                                    "y": 162,
                                    "name": "DecimalPlacesStartNumber"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "DecimalPlacesStartNumber"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "NumberAfterDecimalSeparator",
                                "scope": "roundtrip",
                                "value": "{{substring(5.Number; indexOf(5.Number; \".\") + 1; length(5.Number))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1019,
                                    "y": 220,
                                    "name": "NumberAfterDecimalSeparator"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "NumberAfterDecimalSeparator"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 53,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "ArrayOfNumbers",
                                "scope": "roundtrip",
                                "value": "{{split(space + 16.value; emptystring)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1384,
                                    "y": 381,
                                    "name": "ArrayOfNumbers"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "ArrayOfNumbers"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 56,
                            "module": "builtin:BasicRepeater",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "step": "1",
                                "start": "0",
                                "repeats": "{{12.value - 5.DecimalPlaces}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1898,
                                    "y": 468
                                },
                                "expect": [
                                    {
                                        "name": "start",
                                        "type": "number",
                                        "label": "Initial value",
                                        "required": true
                                    },
                                    {
                                        "name": "repeats",
                                        "type": "number",
                                        "label": "Repeats",
                                        "required": true,
                                        "validate": {
                                            "max": 10000,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "step",
                                        "type": "number",
                                        "label": "Step",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 60,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "Final",
                                "scope": "roundtrip",
                                "value": "{{if(get(53.value; 12.value - 56.i + 1) = 8 & get(53.value; 12.value - 56.i + 1 + 1) = 9; 10 - parseNumber(substring(16.value; 12.value - 56.i - 1; 12.value - 56.i); \".\") - 1; if(get(53.value; 12.value - 56.i + 1) = 9; 10 - parseNumber(substring(16.value; 12.value - 56.i - 1; 12.value - 56.i); \".\") - 1; 10 - parseNumber(substring(16.value; 12.value - 56.i - 1; 12.value - 56.i); \".\")))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2354,
                                    "y": 505
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Final"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 61,
                            "module": "math:EvaluateExpression",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "expression": "((10^{{56.i}})*{{60.value}})"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2838,
                                    "y": 523
                                },
                                "expect": [
                                    {
                                        "name": "expression",
                                        "type": "text",
                                        "label": "Expression",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 62,
                            "module": "util:FunctionAggregator",
                            "version": 1,
                            "parameters": {
                                "fn": "sum",
                                "feeder": 56
                            },
                            "mapper": {
                                "result": "{{61.result}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3302,
                                    "y": 521
                                },
                                "restore": {
                                    "fn": {
                                        "label": "SUM"
                                    },
                                    "feeder": {
                                        "label": "Repeater"
                                    },
                                    "mapper": {
                                        "label": [
                                            null
                                        ]
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "fn",
                                        "type": "select",
                                        "label": "Aggregate function",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "avg",
                                                "sum",
                                                "count",
                                                "max",
                                                "min"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 63,
                            "module": "math:EvaluateExpression",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "expression": "{{62.result}}+{{16.value}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3786,
                                    "y": 515
                                },
                                "expect": [
                                    {
                                        "name": "expression",
                                        "type": "text",
                                        "label": "Expression",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{{parseNumber(substring(5.Number; 0; indexOf(5.Number; \".\") + 1) + toString(63.result); \".\")}}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4401,
                                    "y": 482
                                },
                                "restore": {
                                    "headers": {
                                        "items": []
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 50,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.integromat.com"
    }
}