blueprint_integration_round_scenario_with_parameter_for_decimal.json
{
    "name": "Integration Round Scenario",
    "flow": [
        {
            "id": 5,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 140004,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "hook": {
                        "label": "My gateway-webhook webhook"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Number",
                        "type": "number"
                    },
                    {
                        "name": "DecimalPlaces",
                        "type": "number"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "NumberAlreadyRounded",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{length(substring(5.Number; indexOf(5.Number; \".\") + 1; length(5.Number)))}}",
                                            "b": "{{5.DecimalPlaces}}",
                                            "o": "number:lessorequal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{contains(toString(5.Number); \".\")}}",
                                            "b": "{{true}}",
                                            "o": "boolean:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "body": "{{5.Number}}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300,
                                    "name": "Webhooks - NumberAlreadyRounded"
                                },
                                "restore": {
                                    "headers": {
                                        "items": []
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "GreaterThanDecimalPlaces",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{length(substring(5.Number; indexOf(5.Number; \".\") + 1; length(5.Number)))}}",
                                            "b": "{{5.DecimalPlaces}}",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "DecimalPlacesStartNumber",
                                "scope": "roundtrip",
                                "value": "{{length(substring(5.Number; indexOf(5.Number; \".\") + 1; indexOf(5.Number; \".\") + 1 + 5.DecimalPlaces + 2))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 568,
                                    "y": 688,
                                    "name": "DecimalPlacesStartNumber"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "DecimalPlacesStartNumber"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "NumberAfterDecimalSeparator",
                                "scope": "roundtrip",
                                "value": "{{substring(5.Number; indexOf(5.Number; \".\") + 1; indexOf(5.Number; \".\") + 1 + 5.DecimalPlaces + 2)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 859,
                                    "y": 729,
                                    "name": "NumberAfterDecimalSeparator"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "NumberAfterDecimalSeparator"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 78,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "NumberFinalToRound",
                                "scope": "roundtrip",
                                "value": "{{substring(5.Number; 0; indexOf(5.Number; \".\") + 5.DecimalPlaces + 1)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1306,
                                    "y": 762,
                                    "name": "NumberFinalToRound"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "NumberFinalToRound"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 53,
                            "module": "util:SetVariable",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "ArrayOfNumbers",
                                "scope": "roundtrip",
                                "value": "{{split(space + 16.value; emptystring)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1686,
                                    "y": 753,
                                    "name": "ArrayOfNumbers"
                                },
                                "restore": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "ArrayOfNumbers"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 65,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1973,
                                    "y": 739
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 75,
                                            "module": "util:SetVariable",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "ArrayOfNumbers[DecimalPlace + 1]>=5 or (Numbers[DecimalPlaces +2]>=5 and ArrayOfNumbers[DecimalPlaces+1]>=4)",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{get(53.value; 5.DecimalPlaces + 1)}}",
                                                            "b": "5",
                                                            "o": "number:greaterorequal"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{get(53.value; 5.DecimalPlaces + 2)}}",
                                                            "b": "5",
                                                            "o": "number:greaterorequal"
                                                        },
                                                        {
                                                            "a": "{{get(53.value; 5.DecimalPlaces + 1)}}",
                                                            "b": "4",
                                                            "o": "number:greaterorequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "name": "Final",
                                                "scope": "roundtrip",
                                                "value": "{{substring(16.value; 0; 5.DecimalPlaces)}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2273,
                                                    "y": 439
                                                },
                                                "restore": {
                                                    "scope": {
                                                        "label": "One cycle"
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Final"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 74,
                                            "module": "math:EvaluateExpression",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "expression": "{{78.value}}+(1/(10^({{5.DecimalPlaces}})))"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2984,
                                                    "y": 364
                                                },
                                                "expect": [
                                                    {
                                                        "name": "expression",
                                                        "type": "text",
                                                        "label": "Expression",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 77,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{{parseNumber(substring(74.result; 0; indexOf(74.result; \".\") + 5.DecimalPlaces + 1); \".\")}}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3670,
                                                    "y": 373
                                                },
                                                "restore": {
                                                    "headers": {
                                                        "items": []
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 73,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "<5 AND ([0,9] and <4) OR <4",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{get(53.value; 5.DecimalPlaces + 1)}}",
                                                            "b": "5",
                                                            "o": "number:less"
                                                        },
                                                        {
                                                            "a": "{{get(53.value; 5.DecimalPlaces + 2)}}",
                                                            "b": "9",
                                                            "o": "number:less"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{get(53.value; 5.DecimalPlaces + 1)}}",
                                                            "b": "4",
                                                            "o": "number:less"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "body": "{{parseNumber(substring(5.Number; 0; indexOf(5.Number; \".\") + 1) + toString(substring(16.value; 0; 5.DecimalPlaces)); \".\")}}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2480,
                                                    "y": 735
                                                },
                                                "restore": {
                                                    "headers": {
                                                        "items": []
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 50,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.integromat.com"
    }
}
